@import "utils";

.container2 {
    margin-left: 37px;
    display: flex;
    flex-direction: column;
    float: left;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
    justify-items: flex-start;
}