@import '~open-color/open-color';
@import '~include-media/dist/include-media';


$background_gray:#363842;
$littleweak_gray:#5F5A62;
$verystrong_gray:#1F1F1F;
$light_green: #99EE64;
$pretty_red: #B30000;
$pretty_brown: #2C2015;
$weak_red: #FF9798;


//Signin & Signup
$sign_width:471px;


//font-size
$username_fontsize:1.2rem;

//input tag size
$input_width:697px;
$input_height:40px;




@mixin input {
    height: 55px;
    color: white;
    font-size: 1.7rem;
    
}

@mixin redButton {
    width: 116px;
    height: 40px;
    @include radius();
    background-color: deeppink;
    color: white;
    border: 0;
    font-size: 1.2rem;
    font-weight: 800;
    cursor: pointer;
}

@mixin greenButton {
    width: 200px;
    height: 55px;
    @include radius();
    background-color: $light_green;
    color: white;
    border: 0;
    font-size: 1.2rem;
    font-weight: 800;
    box-shadow: 5px 5px 20px 5px rgba($color: #999999, $alpha: 0.4);
    cursor: pointer;
}

@mixin border {
    border: 1px solid black;
}


@mixin radius {
    border-radius: 7px;
}