@import "utils";

.container {
    display: flex;
    height: 100vh;
    .LeftContainer {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        .box{
            display: flex;
            width: 471px;
            flex-direction: column;
            align-items: center;
            input {
                background-color: $verystrong_gray;
                width: 100%;
                @include input;
                padding-left: 20px;
                border: 0;
                margin-bottom: 1px;
                caret-color: deeppink;
            }
            button {
                border: 0;
                width: 493px;
                cursor: pointer;
            }
            .SignButton {
                @include input;
                background-color: $pretty_red;
                margin-bottom: 2px;
            }
            .FBbutton {
                margin-top: 50px;
                img {
                    border-radius: 5px;
                }
            }
        }

    }
    .RightContainer {
        width: 50%;
        .box {
            padding: 15px;
            margin-top: 50px;
            display: flex;
            flex-direction: column;
            width: 80%;
            span {
                margin-bottom: 50px;
            }

            img {
                width: 360px;
                height: 186px;
            }
        }
    }
}