@import "utils";

.container {
    display: flex;
    flex-direction: column;
    width: 105px;
    height: 257px;
    @include radius;
    background-color: white;
    box-shadow: 10px 10px 38px 10px rgba(0,0,0,0.5);
    padding-left: 15px;
    padding-top: 35px;
    position: absolute;
    margin-left: 80px;
    margin-top:60px;
    .word {
        cursor: pointer;
        color: $pretty_brown;
        font-weight: 900;
        margin-bottom: 200px;
        font-size: 1.2rem;
    }
    .close {
        margin-left: 40px;
        color: $verystrong_gray;
        cursor: pointer;
    }
}